---

---
<div class="container-fluid app-bar-container border-bottom bd-default ">
    <nav data-role="appbar" data-expand-point="md" class="pt-4 pb-4 container">
        <a href="/" class="appbar-item-static no-decor fg-dark text-bold">Сергій Піменов</a>

        <ul class="ml-auto app-bar-menu">
            <li><a href="/#_about">Про мене</a></li>
            <li><a href="/#_services">Послуги</a></li>
            <li><a href="/#_skills">Навички</a></li>
            <li><a href="/#_projects">Проекти</a></li>
            <li><a href="/#_contacts">Контакти</a></li>
            <li><a href="/blog">Блог</a></li>
        </ul>
    </nav>
</div>
