---

---
<footer class="page-footer">
    <div class="container-fluid">
        <div class="container pt-4 pb-4">
            <div class="d-flex flex-align-center flex-justify-center">
                &copy; <time class="ml-1 mr-1">{new Date().getFullYear()}</time> Сергій Піменов
            </div>
            <div class="d-flex flex-align-center flex-justify-center">
                Зроблено на <a class="fg-white ml-1 mr-1" href="https://metroui.org.ua">Metro UI</a> та <a class="fg-white ml-1 mr-1" href="https://astro.build">Astro</a>
            </div>
        </div>
    </div>
</footer>